@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

/*Обнуление стилей*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

/*Центрирование контента*/
.container {
    width: 1146px;
    margin: 0 auto;
}

/*Основные стили*/
body {
    background: #020a18;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
}

header {
/*  padding-top: 39px;
    padding-bottom: 39px;*/
/*  padding: 39px 0 39px 0;*/
    padding: 39px 0;
    margin-bottom: 160px;
}

.navigation {}

.navigation__link {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

main {
    margin-bottom: 197px;
}

.content__wrapper {}

.content__block {}

.content__subtitle {
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
    margin-bottom: 10px;
}

.content__mainTitle {
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.content__description {
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7; /* Прозрачность */
    margin-bottom: 50px;
}

.content__btns {
}

.content__button {
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 15px 30px;
    background: #3A68B8;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button__play {}

footer {}

.logo__linkInformation {}