h1 {
    color: #ff1500
}

h3 {
    color: darkcyan;
    background-color:#f6f6c1;
    background-position: top;
}

#label_head_1 {
    background: #e8dcda;
    color: darkred;
}

.first_class {
    color: rgb(75, 8, 8);
    background: rgb(227, 194, 194);
    width: 30%;
    background-image: url(cat.jpeg);
}

.second_class {
    color: rgb(26, 55, 7);
    background: rgb(203, 213, 247);
    width: 40%;
}


.wrapper {
    width: 1500px;
    height: 1400px;
    border: 1px solid red;
    position: relative;
    right: 0;
}

.box1 {
    width: 800px;
    height: 700px;
    border: 1px solid rgb(3, 12, 135);
    background: rgba(4, 4, 168, 0.411);
    position: absolute;
    top: 10px;
    right: 0;
}

.box2 {
    width: 800px;
    height: 700px;
    border: 1px solid rgb(21, 93, 1);
    background: rgba(0, 128, 0, 0.266);
    position: absolute;
}