@media (max-width: 768px ){

    .container {
        width: 768px;
    }

    .firstBlock__wrapper{
        height: 368px;
    }
    
    .header__leftBlock {
        margin-left: 32px;
    }
    
    .header__rihgtBlock {
        margin-right: 40px;
    }
    
    .content__textBlock__title {
        font-size: 44px;
    }
    
    .content__textBlock__subtitle {
        font-size: 24px;
    }

    .content__firstBlock__deskriptionBlock{
        padding-left: 40px;
        padding-top: 138px;
        gap: 16px;
    }
    
    .content__centeredBlock {
        padding: 65px 16px 70px 16px;
        width: 735px;
        margin: 0 auto;
    }
    
    .content__topSection {
        grid-template-rows: 167px 116px;
        gap: 20px;
        margin-bottom: 110px;
    }
    
    .content__tS__fBoxWomen {
        width: 232px;
        height: 168px;
    }
    .content__tS__fBoxMan {
        width: 232px;
        height: 168px;
    }
    .content__tS__fBoxChild {
        width: 232px;
        height: 168px;
    }
    .content__tS__fBoxLong {
        width: 735px;
        height: 116px;
    }
    
    .content__tS__p {
        font-size: 16px;
        font-weight: 400;
    }
    
    .content__tS__h2 {
        font-size: 24px;
        font-weight: 700;
    }
    
    .content__bS__headertitle {
        margin-bottom: 3px;
    }
    
    .content__bS__headerdescribe {
        margin-bottom: 73px;
    }

    .content__bS__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        margin-bottom: 33px;
    }

    footer {}

    .footer__description {
        padding-top: 48px;
        padding-bottom: 64px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* .footer__d__block {
        color: #FBFBFB;
        font-family: Lato;
        font-style: normal;
        line-height: normal;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } */

    /* .footer__d__img {
        color: #F16D7F;
        margin: 25px;
    } */

    .footer__d__img__size1 {
        width: 45px;
        height: 32px;
    }

    .footer__d__img__size2 {
        width: 40px;
        height: 40px;
    }

    .footer__d__img__size3 {
        width: 47px;
        height: 35px;
    }

    /* .footer__d__header {
        font-size: 20px;
        font-weight: 400;
        margin: 16px;
    } */

    /* .footer__d__description {
        width: 360px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    } */


    .footer__subscriber {
        background: url(./img/foot_backgr_pad.png), lightgray 0px -169px / 100% 246.875% no-repeat;
    }

    .footer__subscriber__duble {
        padding-top: 65px;
        padding-bottom: 140px;
        gap: 20px;
        height: auto;
        flex-direction: column;
    }

    /* .footer__s__leftbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:self-start;
        margin-bottom: 50px;
    } */

    figure {}

    /* .footer__s__photo {
        width: 145px;
        height: 120px;
        background: hsla(0, 0%, 96%, 0.1);
        display: flex;
        justify-content: center;
        align-self: center;
    } */

    /* .footer__s__img {
        align-self: start;
    } */

    /* .footer__s__cytate {
        width: 360px;
        text-align: center;
        font-size: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
    } */

    /* .footer__s__rightbox {
        width: 557px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */

    /* .footer__s__sub {
        font-size: 24px;
        font-family: Lato; font-weight: 700;
        margin-bottom: 10px;
    } */

    /* .footer__s__text {
        font-size: 18px;
        font-family: Lato;
        font-weight: 400;
        margin-bottom: 30px;
    } */

    /* .footer__s__button {
        display: flex;
        justify-content: center;
    } */

    /* .footer__s__email {
        width: 256px;
        height: 49px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        background: #E1E1E1;
        display: flex;
        align-items: center;
        justify-content: start;
    } */

    /* .footer__s__email__txt {
        width: 170px;
        height: 36px;
        margin-left: 22px;
        background: #E1E1E1;
        color: #222224;
        border: none;
        font-size: 14px;
        font-family: Lato;
        font-weight: 400;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */

    /* .footer__s__btn {
        width: 100px;
        height: 49px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        background: #F16D7F;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    } */

    /* .footer__s__btn__txt {
        width: 85px;
        height: 36px;
        border: none;
        background: #F16D7F;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-family: Lato;
        font-weight: 400;
        cursor: pointer;
    } */


    .footer__logos {
        padding: 24px 32px;
    }

    /* .footer__logos__reserve {
        width: 332px;
        color: #FBFBFB;
        font-size: 16px;
        font-family: Lato;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
    } */

    /* .footer__logos__labels {
        display: flex;
        justify-content:space-around;
        gap: 7px;
    } */

    /* .footer__logos__img {
        width: 32px;
        height: 32px;
        background: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    } */
}