@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


.container {
    width: 1600px;
    margin: 0 auto;
}


.header__wrapper {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    /* position: relative; */
}

.header__leftBlock {
    margin-left: 235px;
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 40px;
}

.header__rihgtBlock {
    margin-right: 235px;
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 33px;
    position: relative;
    /* border: #F26376 solid 1px; */
}

.header__nav__img {
    cursor: pointer;
}

.header__nav {
    cursor: pointer;
    color: #E8E8E8;
}

.ellipse {
    position: absolute;
    margin-top: -7px;
    /* margin-right: 10px; */
    margin-left: 148px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #F16D7F;
}

.ellipse5 {
    position: absolute;
    color: #FFF;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    margin-top: 1px;
    margin-left: 7px;
    
}


.firstBlock__wrapper {
    height: auto;
    position: relative;
    background: #f1e4e6;
    height: 764px;
}

.content__firstBlock {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    z-index: 0;
    top: 0;
}


.content__firstBlock__deskriptionBlock{
    display: flex;
    padding-left: 63px;
    justify-content: start;
    padding-top: 300px;
    align-items: start;
    gap: 16px;

    z-index: -1;
}

.content__verticalBlock {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}

.c__tB__pink {
    color: #F16D7F;
}


.content__textBlock__title {
    color: #222;
    font-size: 48px;
    font-family: Lato;
    font-weight: 900;
}

.content__textBlock__subtitle {
    color: #222;
    font-size: 32px;
    font-family: Lato;
    font-weight: 700;
}

.menu-active {
    position: absolute;
    z-index: 1;
    background: #FFF;
    top: 0;
    right: 0;
}

.hidden {
    display: none;
}

.menu-active__all {
    width: 232px;
    background: #FFF;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 32px;
}

.menu-heading {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    margin-left: 33px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.menu-text {
    color: #F16D7F;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    margin-left: 32px;
    margin-bottom: 9px;
}

.menu-list {
    color: #6F6E6E;
    font-family: Lato;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    margin-left: 54px;
}

.li-no-dcr {
    list-style-type: none;
    margin-bottom: 11px;
}

.txtlist {
    color: #6F6E6E;
}


.content__centeredBlock {
    padding: 65px 230px 95px 230px;
    width: 1140px;
    margin: 0 auto;
}

.content__topSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 260px 180px;
    gap: 30px;
    margin-bottom: 95px;
}

.content__tS__fBoxWomen {
    background-image: url(./img/content2.png);
    width: 360px;
    height: 260px;
}
.content__tS__fBoxMan {
    background-image: url(./img/content3.png);
    width: 360px;
    height: 260px;
}
.content__tS__fBoxChild {
    background-image: url(./img/content4.png);
    width: 360px;
    height: 260px;
}
.content__tS__fBoxLong {
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(./img/content5.png);
    width: 1140px;
    height: 180px;
}

.content__tS__text {
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.content__tS__p {
    color: #FFF;
    font-family: Lato;
}

.content__tS__h2 {
    color: rgba(241, 109, 127, 1);
    font-family: Lato;
}


.content__bS__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content__bS__headertitle {
    color: #222;
    font-size: 30px;
    font-family: Lato;
    margin-bottom: 5px;
    text-align: center;
}

.content__bS__headerdescribe {
    /* color: #9F9F9F; */
    font-size: 14px;
    font-family: Lato;
    margin-bottom: 48px;
    text-align: center;
}

.content__bS__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
}

.content__bS__layer {
    background-color: rgba(248, 248, 248, 1);
}

.bord-wrapper {
    margin-bottom: 25px;
    height: 420px;
    cursor: pointer;
}

.bord0 {
    background: url(./img/content10.jpg);
}

.bord1 {
    background: url(./img/content11.png);
}

.bord2 {
    background: url(./img/content12.png);
}

.bord3 {
    background: url(./img/content13.png);
}

.bord4 {
    background: url(./img/content14.png);
}

.bord5 {
    background: url(./img/content15.png);
}

.choice-layer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: collapse; */
}

.choice-layer__box {
    color: rgb(245, 200, 63);
    width: 139px;
    height: 44px;
    border: 1px solid #FFF;
    /* background:rgba(255, 255, 255, 0.563); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 16px 0 14px;
    visibility: collapse;
}

.choice-layer__box__img {
    fill: #FFF;
    width: 26px;
    height: 24px;
}

.choice-layer__box__text {
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.choice-layer:hover {
    /* visibility: visible; */
    background:rgba(58, 56, 56, 0.86);
}

.choice-layer:hover .choice-layer__box {
    visibility: visible;
}

.content__bS__title {
    display: flex;
    justify-content: start;
    color: #000;
    font-size: 13px;
    font-family: Lato;
    font-weight: 400;
    margin-bottom: 12px;
    margin-left: 18px;
}

.content__bS__description {
    width: 315px;
    color: #5D5D5D;
    font-size: 14px;
    font-family: Lato;
    font-weight: 300;
    margin-bottom: 18px;
    margin-left: 18px;
}

.content__bS__price {
    color: #F16D7F;
    font-size: 16px;
    font-family: Lato;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 18px;
}

.content__bS__blockBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content__bS__navigation {
    width: 210px;
    height: 47px;
    border: 1px solid #FF6A6A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content__bS__batton {
    color: #F26376;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
}

.content__bS__navigation:hover {
    border: 1px solid #F26376;
    color: white;
    background: #F16D7F;
}

.content__bS__navigation:hover .content__bS__batton {
    color: white;
}


.footer__description {
    padding: 70px 220px 100px 220px;
    background: #222224;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer__d__block {
    color: #FBFBFB;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer__d__img {
    color: #F16D7F;
    margin: 20px;
}

.footer__d__img__size1 {
    width: 5ch;
}

.footer__d__img__size2 {
    width: 4.3ch;
}

.footer__d__img__size3 {
    width: 5ch;
}

.footer__d__header {
    font-size: 20px;
    font-weight: 400;
    margin: 16px;
}

.footer__d__description {
    width: 360px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}


.footer__subscriber {
    background: url(./img/foot_backgr.png), lightgray 0px -169px / 100% 246.875% no-repeat;
    color: #222224;
}

.footer__subscriber__duble {
    background-color:  hsla(0, 0%, 96%, 0.7);
    padding: 0 230px;
    height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__s__leftbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:self-start;
    margin-bottom: 50px;
}

.footer__s__photo {
    width: 145px;
    height: 120px;
    background: hsla(0, 0%, 96%, 0.1);
    display: flex;
    justify-content: center;
    align-self: center;
}

.footer__s__img {
    align-self: start;
}

.footer__s__cytate {
    width: 360px;
    text-align: center;
    font-size: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
}

.footer__s__rightbox {
    width: 557px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__s__sub {
    font-size: 24px;
    font-family: Lato;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer__s__text {
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer__s__button {
    display: flex;
    justify-content: center;
}

.footer__s__email {
    width: 256px;
    height: 49px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background: #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer__s__email__txt {
    width: 170px;
    height: 36px;
    margin-left: 22px;
    background: #E1E1E1;
    color: #222224;
    border: none;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__s__btn {
    width: 100px;
    height: 49px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #F16D7F;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer__s__btn__txt {
    width: 85px;
    height: 36px;
    border: none;
    background: #F16D7F;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    cursor: pointer;
}


.footer__logos {
    background: #222224;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 25px 235px;
}

.footer__logos__reserve {
    width: 332px;
    color: #FBFBFB;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.footer__logos__labels {
    display: flex;
    justify-content:space-around;
    gap: 7px;
}

.footer__logos__img {
    width: 32px;
    height: 32px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: black;
}

.footer__logos__img:hover {
    fill: white;
    background: #F16D7F;
}