@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

/*Обнуление стилей*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

/*Центрирование контента*/
.container {
    width: 1146px;
    margin: 0 auto;
}

/*Основные стили*/
body {
    background: #020a18;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
}

header {
    padding: 39px 0;
    margin-bottom: 160px;
}

.navigation {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.navigation__link {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.content__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 197px;
}

.content__block {
    width: 604px;
}

.content__subtitle {
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
    margin-bottom: 10px;
}

.content__mainTitle {
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.content__description {
    width: 558px;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7; /* Прозрачность */
    margin-bottom: 50px;
}

.content__btns {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.content__button {
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 15px 30px;
    background: #3A68B8;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.logo__linkInformation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

