@font-face {
    font-family: Gilroy-Bold;
    src: url(./fonts/Gilroy-Bold.woff2);
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(./fonts/Gilroy-Medium.woff2);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(./fonts/Gilroy-Regular.woff2);
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url(./fonts/Gilroy-Semibold.woff2);
}
/*Обнуление стилей*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

/*Центрирование контента (375px по бокам)*/
.container {
    width: 1170px;
    margin: 0 auto;
}

/*Основные стили*/
body {
    background: #FFFFFF;
}

header {
    margin-top: 40px;
    margin-bottom: 83px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.position__navigation {
    display: flex;
    justify-content: space-between;
}

nav {
    width: 533px;
    height: 17px;
    padding-top: 11px;
    padding-bottom: 12px;
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
}

.navigation__lorange {
    color: #F25822;
}

.navigation__link {
    color: black;
}

.content__wrapper {
    margin-bottom: 162px;
    display: flex;
    justify-content: flex-start;
}

.content__leftblock {
    width: 522px;
    margin-right: 41px;
}

.content__mainTitle {
    margin-bottom: 17px;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.content__description {
    margin-bottom: 37px;
    width: 467px;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.bths {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content__button1 {
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 72px;
    padding: 15px 35px;
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.content__button2 {
    width: 90px;
    height: 19px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

footer {
    padding-top: 97px;
    padding-bottom: 96px;
}

.logotypes {
    height: 50px;
    display: flex;
    justify-content: space-between;
}